// Fonts
@font-face {
  font-family: "Yanus Regular";
  src: url("/fonts/Yanus_Regular.woff");
}
@font-face {
  font-family: "Yanus Bold";
  src: url("/fonts/Yanus_Bold.otf");
}
* {
  font-family: "Yanus Regular";
  font-size: 14px;
}
.title {
  font-size: 20px;
}
.content {
  padding: 5px 0px;
}
.trip_hacker {
  padding: 20px 0px;
}
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Navbar
@import "navbar";

// Header
@import "header";

// Hot Tours
@import "hot_tours";

// Our Advantages
@import "our_advantages";

// Reviews
@import "reviews";

// Footer
@import "footer";

// Our Partners
@import "our_partners";

// Franchise page
@import "franchise";