$navbar-background-color: #0093AD;
$navbar-font-color: #fff;
.nav-top {
  background: #0093AD;
}
.navbar {
  background-color: $navbar-background-color !important;
  color: $navbar-font-color;
  //position: fixed;
  z-index: 10000;
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;

  .navbar-nav {
    a {
      color: $navbar-font-color !important;
      font-size: 16px;

      &:link {
        color: $navbar-font-color;
      }
    }
  }
  .dropdown-menu {
    a {
      color: #0093AD !important;
    }
  }

  .select_currency {
    width: 80px;
    font-size: 12px;
    text-align: center;
  }
  .select_city {
    width: 200px;
    font-size: 12px;
    padding-left: 25px;

    .sc_left_div {
      float: left;
      width: 30px;
      padding-top: 20px;

      i {
        font-size:20px;
      }
    }
    .sc_right_div {
      float: left;
    }
  }
}
.dropdown-menu {
  background: #fff;

  a {
    color: #0099AB !important;
  }

  a:hover {
    background: $navbar-background-color;
    color: #fff !important;
  }
}
.dropdown:hover>.dropdown-menu {
  display: block;
}